
.container-fluid{
    background-color: #999999;
    padding: 10px;
}
.navbar-brand{
    font-weight: bold;
}

#textmenu{
    font-weight: 500;
    margin-bottom: 20px;
}


.col-md-3, .col-sm-4, .col-sm-8{
    background-color: #999;
    padding: 15px;
}
.col-md-3 h2{
    text-align: center;
    font-size: 1.2em;

}


